.div1{
    height: 1300px;
    width: 100%;
}


    
.drImage {
    max-width: 250px; /* Customize as needed */
    height: 250px;
    
    border-radius: 8px; /* Adding rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adding a shadow */
  }
  
