.pDiv{
    margin-top: 100px;
    
    margin-right: 150px;
    text-align: justify;
    font-size: 20px;
    background: rgb(152, 245, 152);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 50%;
    height: 400px;
    width: 80%;
    
}

.pDiv3, .pDiv2{
    padding: 100px;
}

.pDiv1{
    margin-left: 250px;
    
    margin-top: 50px;
    text-align: justify;
    font-size: 20px;
    background: rgb(152, 231, 245);
    border-top-left-radius: 20%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 20%;
    height: 400px;
    width: 80%;
}