.patientDiv{
    
    margin-top: 70px;
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.preDiv{
    margin-right: 25px;
    margin-top: -32px;
}
.contactDiv, .basicDiv{
    margin-left: 100px;
    background: rgb(222, 180, 241);
    padding: 20px;
    border-radius: 50px;
    height: 320px;
    
}
.basicDiv{
    width: 400px;
}



.contact, .basic{
    font-size: 30px;
    font-weight: 600;

}

.contactDetails, .basicDetails{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5px;
}

.patientName{
    font-size: 50px;
    font-weight: 700;
    margin-top: -10px;
    
}


.btn1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.editButton, .editButton1{
    height: 50px;
    width: 220px;
    border-radius: 50px;
    background: white;
    font-weight: 500;
    font-size: 20px;
    color: rgb(142, 15, 146) ;
    border: 2px solid;
}

.editButton:hover, .editButton:focus{
    color: white;
    background:  rgb(142, 15, 146) ;
    transform:  scale(1.1);
    border-color: black; 
    box-shadow: 8px 8px 20px black; 
    

}

.editButton1:hover, .editButton1:focus{
    background:  rgb(155, 10, 107); 
    color: white;
    transform:  scale(1.1);
    border-color: black; 
    box-shadow: 8px 8px 20px black; 
}

.editButton1{
    background: white;
    color:  rgb(155, 10, 107); 
}

.profileImg{
    margin-top: 50px;
    margin-left: 100px;
    border: 2px solid;
    
}



.newImage{
    margin-top: -200px;
    margin-left: 150px;
}