.testDiv {
    height:  350px;
    width : 200px;
    border : 2px solid blueviolet;
    margin-top: 50px;
    margin-right: 50px;
    padding: 10px;
    border-radius: 10%;
    
}

.mainDiv {
    width : 1000px;
    margin-left: 180px;
}

.nameDiv{
    font-size: 30px;
} 

.slick-slide > div {
    margin: 0 20px;
}

.divA p{
    font-size: 60px;
    margin-top: 40px;
    background: rgb(172, 98, 201);
    color: white;
    height: 100px;
    text-align: center;
    padding: 10px;
}